[submodule "timestamp"]
	path = timestamp
	url = https://github.com/shariq-yousuf/timestamp.git
[submodule "header-parser"]
	path = header-parser
	url = https://github.com/shariq-yousuf/header-parser.git
[submodule "url-shortener"]
	path = url-shortener
	url = https://github.com/shariq-yousuf/url-shortener
[submodule "exercise-tracker"]
	path = exercise-tracker
	url = https://github.com/shariq-yousuf/exercise-tracker
[submodule "file-metadata"]
	path = file-metadata
	url = https://github.com/shariq-yousuf/file-metadata.git
